@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-image: url(imagenes/asfaeg.jpeg);
    font-family: "Montserrat", sans-serif;
    color: white; 
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: solid;
    border-color: darkgoldenrod;
    padding: 10px;
}

header h1 {
    font-family: "Roboto Condensed", sans-serif;
    margin-right: auto;
}

header img {
    height: 50px;
    margin-left: 20px; 
}

header li {
    padding-left: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: darkgoldenrod;
    transition: all 400ms ease;
}

.abrirmenu,
.cerrarmenu {
    display: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.cerrarmenu {
    position: absolute;
    left: 5px;
    top: 10px;
}

p {
    font-family: "Montserrat", sans-serif;
}

.caja1 {
    margin-top: 70px;
}

.caja1 h2 {
    text-align: center;
    background-color: black;
    padding: 10px; 
}

.caja1 p,
.caja2 p,
.caja3 p,
.caja5 p {
    text-align: center;
    padding: 10px; 
}

.caja2 {
    text-align: center;
}

.caja2 img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 20px 0;
}

.caja3, .caja4, .caja5 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    margin: 45px auto; /* Centra las cajas horizontalmente */
}

.caja3 img, .caja4 img, .caja5 img {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 280px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: darkgoldenrod;
}

footer p {
    margin-bottom: 0;
    text-align: center;
    color: black;
}

.footer2 {
    display: none;
}

.contenedor {
    display: flex;
    flex-wrap: wrap; /* Asegura que las cajas se ajusten en pantallas más pequeñas */
    justify-content: center;
}

@media (max-width: 480px) {
    .abrirmenu {
        margin-left: 100px;
        display: block;
        font-size: 1.2rem;
    }

    .cerrarmenu {
        display: block;
        font-size: 2rem;
    }

    nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        border: solid;
        border-color: rgb(210, 151, 0);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    nav.visible {
        opacity: 1;
        visibility: visible;
    }

    nav ul {
        margin-top: 30px;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        font-size: larger;
    }

    nav a {
        padding: 20px;
        border-right: 5px solid transparent;
        transition: all 400ms ease;
    }

    nav a:hover {
        border-right: 5px solid darkgoldenrod;
        background: rgb(136, 98, 3);
    }

    .caja2 img {
        width: 100%;
        max-width: 460px;
        margin-top: 100px;
    }

    .caja3, .caja4, .caja5 {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .caja3 img, .caja4 img, .caja5 img {
        width: 100%;
        height: auto;
    }

    footer {
        display: none;
    }

    .footer2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: darkgoldenrod;
    }

    .footer2 p {
        margin-bottom: 0;
        color: black;
        text-align: center;
    }

    hr {
        display: flex;
    }

    .contenedor {
        display: block;
    }
}
